///////////////////////// KeyFrames /////////////////////////

@keyframes gradientAnimation
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes reveal
    0%
        opacity: 0
    100%
        opacity: 1

///////////////////////// Animation /////////////////////////

.textReveal-Animation
    animation: reveal 1s ease-in-out

////////////////////////// Home //////////////////////////

#homePage
  @apply min-h-screen bg-gray-100

#bannerSection
  background: linear-gradient(-45deg, rgba(249, 115, 22, 0.80), rgba(255, 165, 0, 1), rgba(255, 140, 0, 0.80), rgba(255, 69, 0, 1))
  background-size: 400% 400%
  animation: gradientAnimation 10s ease infinite
  @apply flex items-center justify-center min-h-screen text-white
  #bannerContent
    @apply text-center
    h1
      @apply text-5xl font-bold mb-4
    p
      @apply text-2xl mb-6
    #bannerButton
      @apply bg-orange-500 text-white py-3 px-6 rounded-full text-xl
      &:hover
        @apply bg-orange-600

#categoriesSection, #offersSection, #testimonialsSection
  @apply py-10 px-5
  h2
    @apply text-3xl font-bold mb-6 text-center
  #categoriesContainer, #offersContainer, #testimonialsContainer
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6

.category, .offer, .testimonial
  @apply bg-white p-4 rounded-lg shadow-md text-center
  img
    @apply w-full h-40 object-cover mb-4
  p
    @apply text-lg font-semibold

////////////////////////// Header //////////////////////////

header p
    @apply text-center

////////////////////////// Footer //////////////////////////

footer p
    @apply text-center
