<div class="profile">
    <h1>Perfil</h1>
    
    <div class="user-info">
      <h2>Información del Usuario</h2>
      <div>
        <p><strong>Nombre:</strong> {{ "name" }}</p>
        <p><strong>Email:</strong> {{ "user.email" }}</p>
        <button (click)="toggleEdit()">Editar</button>
      </div>
  
      <div >
        <label>
          Nombre:
          
        </label>
        <label>
          Email:
          
        </label>
        <button (click)="saveChanges()">Guardar</button>
        <button (click)="toggleEdit()">Cancelar</button>
      </div>
    </div>
  
    <div class="user-purchases">
      <h2>Compras</h2>
      <ul>
        <li>
          <p><strong>Producto:</strong> {{ "purchase.productName" }}</p>
          <p><strong>Fecha:</strong> {{ "purchase.date" }}</p>
          <p><strong>Precio:</strong> {{ "purchase.price | currency" }}</p>
        </li>
      </ul>
    </div>
  
    <div class="user-settings">
      <h2>Ajustes</h2>
      <!-- Puedes añadir más ajustes aquí -->
    </div>
  </div>
  