.product-detail {
  display: flex;
  align-items: center; /* Alinea la imagen y el texto verticalmente */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-detail img {
  width: 200px; /* Tamaño mayor de la imagen */
  height: 200px; /* Tamaño mayor de la imagen */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.product-detail div {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.8rem; /* Tamaño de fuente mayor para el título */
  font-weight: bold;
  margin: 0 0 8px;
}

.product-description {
  font-size: 1.1rem; /* Tamaño de fuente mayor para la descripción */
  margin: 0 0 8px;
  color: #555;
}

.product-price {
  font-size: 1.3rem; /* Tamaño de fuente mayor para el precio */
  font-weight: bold;
  color: #e60012;
  margin: 0 0 8px;
}

.product-category {
  font-size: 1.1rem; /* Tamaño de fuente mayor para la categoría */
  color: #888;
}
.order-button {
  margin-top: 16px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #0056b3;
}
